@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2"), format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2"), format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*GLOBAL styles*/
body {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/*SHARED styles*/

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.big-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.small-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.button {
  border-radius: 4px;
  background-color: #756157;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.button:hover {
  background-color: #69574e;
}

.centered {
  text-align: center;
}

/*HEADER styles*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 64px;
  padding: 0 70px 0 70px;
}

.header-left {
  display: flex;
  align-items: center;
  column-gap: 46px;
  height: 100%;
}

.logo {
  height: 100%;
}

.logo-image {
  position: relative;
}

.nav-links {
  display: flex;
  align-items: center;
  column-gap: 32px;
  list-style: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.nav-links-item {
  padding: 20px 0 20px 0;
  text-decoration: none;
  color: #000000;
}

.nav-links-item:hover {
  text-decoration: underline;
  text-underline-offset: 24px;
  text-decoration-color: #756257;
}

.header-right {
  display: flex;
  align-items: center;
  column-gap: 32px;
  height: 100%;
}

.user-menu {
  display: flex;
  align-items: center;
  column-gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-button,
.favorites-button {
  vertical-align: sub;
}

.search-button::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
}

.favorites-button::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../images/svg/favorites.svg");
  background-repeat: no-repeat;
}

.header-right-button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
}

/*WELCOME SECTION styles*/

.welcome-image-container {
  background-color: #e3f0f8;
  background-image: url("../images/svg/welcome-divider.svg"),
    url("../images/welcome-section-background-photo.jpg");
  background-size: 1200px auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, center top;
  padding: 51px 0 82px 0;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

/*FEATURES SECTION styles*/

.features-description {
  padding: 69px 0 90px 0;
}

.features-description-title {
  margin: 0 auto 25px auto;
  text-transform: uppercase;
  max-width: 620px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item {
  box-sizing: border-box;
  margin: 0;
  padding: 112px 85px;
  background-image: url("../images/svg/features-divider-dark.svg");
  background-repeat: no-repeat;
  background-position: center 52%;
  background-color: rgba(131, 179, 211, 0.2);
  max-width: 400px;
  min-height: 385px;
}

.features-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-with-image {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
  min-height: 385px;
}

.features-item-text-wrapper {
  background-image: url("../images/svg/features-divider-light.svg");
  background-repeat: no-repeat;
  background-position: center 49%;
  padding: 102px 85px;
}

.features-item-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 0;
  margin: 0 auto 62px auto;
  max-width: 175px;
}

.features-item-description {
  word-break: break-word;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

/*OPTIONS SECTION styles*/

.options {
}

.options-invitation {
  padding: 64px 0;
}

.options-invitation-title {
  margin: 0 auto 20px auto;
  text-transform: uppercase;
  max-width: 502px;
}

.options-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.options-item {
  row-gap: 30px;
  width: 400px;
  height: 385px;
  box-sizing: border-box;
  padding: 183px 85px 81px 85px;
  background-color: rgba(131, 179, 211, 0.2);
  background-repeat: no-repeat;
}

.options-item:nth-child(2n) {
  background-color: #ffffff;
}

.options-item-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 0;
  margin: 0 0 30px 0;
}

.options-item-description {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.house-icon {
  content: "";
  background-image: url("../images/svg/options-house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;
}

.burger-icon {
  content: "";
  background-image: url("../images/svg/options-burger.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position: center 81px;
}

.present-icon {
  content: "";
  background-image: url("../images/svg/options-present.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
  background-position: center 81px;
}

/*HOTEL SEARCH SECTION styles*/

.hotel-search {
  padding: 96px 0 102px;
  text-align: center;
}

.hotel-search-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.hotel-search-description {
  margin-bottom: 62px;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  padding: 13px 50px;
  margin: 0 auto;
}

/*SUBSCRIPTION SECTION styles*/

.subscription {
  background-image: url("../images/subscribtion-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 0 104px 0;
  color: #ffffff;
}

.subscription-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subscription-description {
  margin-bottom: 56px;
}

.subscription-form {
  display: flex;
  width: 684px;
  height: 52px;
  margin: 0 auto;
}

.subscription-form-input {
  flex-grow: 1;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
  margin: 0;
}

.subscription-form-button {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  margin: 0;
}

/*FOOTER styles*/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px 82px;
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 27px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.vk-icon::before {
  content: "";
  display: block;
  background-image: url("../images/svg/vk.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  height: 17px;
}

.telegram-icon {
  content: "";
  display: block;
  background-image: url("../images/svg/telegram.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 17px;
}

.youtube-icon {
  content: "";
  display: block;
  background-image: url("../images/svg/youtube.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 22px;
  height: 17px;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}
