@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2), format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2), format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*GLOBAL styles*/
body {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/*SHARED styles*/

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.big-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.small-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.button {
  border-radius: 4px;
  background-color: #756157;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.button:hover {
  background-color: #69574e;
}

.centered {
  text-align: center;
}

.background-blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.background-blue-light {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.background-blue-extralight {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

/*HEADER styles*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 64px;
  padding: 0 70px 0 70px;
}

.header-left {
  display: flex;
  align-items: center;
  column-gap: 46px;
  height: 100%;
}

.logo {
  height: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  column-gap: 32px;
  list-style: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.nav-links-item {
  padding: 20px 0 20px 0;
  text-decoration: none;
  color: #000000;
}

.header-right {
  display: flex;
  align-items: center;
  column-gap: 32px;
  height: 100%;
}

.user-menu {
  display: flex;
  align-items: center;
  column-gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-button,
.favorites-button {
  vertical-align: sub;
}

.search-button::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../images/svg/search.svg);
  background-repeat: no-repeat;
}

.favorites-button::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../images/svg/favorites.svg);
  background-repeat: no-repeat;
}

.header-right-button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
}

/*WELCOME SECTION styles*/

.welcome-image-container {
  background-color: #e3f0f8;
  background-image: url(../images/svg/welcome-divider.svg),
    url(../images/welcome-section-background-photo.jpg);
  background-size: 1200px auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, center top;
  padding: 51px 0 82px 0;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.welcome-description {
  padding: 69px 0 90px 0;
}

.welcome-description-title {
  margin-bottom: 25px;
}

/*FEATURES SECTION styles*/

.features {
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item {
  width: 400px;
  height: 385px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 85px;
}

.features-item-image {
  width: 800px;
  height: 385px;
}

.features-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  height: 100%;
}

.features-item-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 0;
  margin: 0;
}

.content-divider {
  content: "";
  display: block;
  height: 2px;
  width: 60px;
}

.content-divider-light {
  background-color: rgba(255, 255, 255, 0.3);
}

.content-divider-dark {
  background-color: rgba(0, 0, 0, 0.3);
}

.features-item-description {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}
/*OPTIONS SECTION styles*/
/*HOTEL SEARCH SECTION styles*/
/*SUBSCRIPTION SECTION styles*/
/*FOOTER styles*/
