@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2"), format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2"), format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*GLOBAL styles*/
body {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

input, button {
  font-family: inherit;
}

.container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/*SHARED styles*/

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.big-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.small-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.button-brown {
  border: none;
  border-radius: 4px;
  background-color: #756157;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #615048;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:disabled {
  background-color: #e5e5e5;
}

.centered {
  text-align: center;
}

/*HEADER styles*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 64px;
  padding: 0 70px;
}

.header-left {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 46px;
  min-height: 64px;
  max-width: 700px;
}

.logo {
  height: 100%;
  position: absolute;
  top: 0;
}

.logo-image {
  position: absolute;
  top: 0;
}

.nav {
  margin: 0 0 0 168px;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.nav-links-item {
  display: block;
  padding: 20px 16px;
  text-decoration: none;
  color: #000000;
}

.nav-links-item:hover {
  text-decoration: underline;
  text-underline-offset: 24px;
  text-decoration-color: #756257;
}

.header-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 32px;
  min-height: 64px;
  max-width: 300px;
}

.user-menu {
  display: flex;
  align-items: center;
  column-gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-button,
.favorites-button {
  vertical-align: sub;
}

.search-button::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
}

.favorites-button {
  position: relative;
}

.favorites-button::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../images/svg/favorites.svg");
  background-repeat: no-repeat;
}

.favorites-count {
  position: absolute;
  left: 6px;
  bottom: 14px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
  padding: 5px 5px 5px 4px;
}

.header-right-button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  height: 36px;
  box-sizing: border-box;
}

/*WELCOME SECTION styles*/

.welcome-image-container {
  background-color: #e3f0f8;
  background-image:
    url("../images/svg/welcome-divider.svg"),
    url("../images/welcome-section-background-photo.jpg");
  background-size:
    1200px auto,
    cover;
  background-repeat: no-repeat;
  background-position:
    left bottom,
    center top;
  padding: 51px 0 82px 0;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

/*FEATURES SECTION styles*/

.features-description {
  padding: 69px 0 90px 0;
}

.features-description-title {
  margin: 0 auto 25px auto;
  text-transform: uppercase;
  max-width: 620px;
}

.features-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item {
  box-sizing: border-box;
  margin: 0;
  padding: 112px 85px;
  background-image: url("../images/svg/features-divider-dark.svg");
  background-repeat: no-repeat;
  background-position: center 52%;
  background-color: rgba(131, 179, 211, 0.2);
  max-width: 400px;
  min-height: 385px;
}

.features-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-with-image {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
  min-height: 385px;
}

.features-item-text-wrapper {
  background-image: url("../images/svg/features-divider-light.svg");
  background-repeat: no-repeat;
  background-position: center 49%;
  padding: 102px 85px;
}

.features-item-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 0;
  margin: 0 auto 62px auto;
  max-width: 175px;
}

.features-item-description {
  word-break: break-word;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

/*OPTIONS SECTION styles*/

.options {
}

.options-invitation {
  padding: 64px 0;
}

.options-invitation-title {
  margin: 0 auto 20px auto;
  text-transform: uppercase;
  max-width: 502px;
}

.options-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.options-item {
  row-gap: 30px;
  width: 400px;
  height: 385px;
  box-sizing: border-box;
  padding: 183px 85px 81px 85px;
  background-color: rgba(131, 179, 211, 0.2);
  background-repeat: no-repeat;
}

.options-item:nth-child(2n) {
  background-color: #ffffff;
}

.options-item-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 0;
  margin: 0 0 30px 0;
}

.options-item-description {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.house-icon {
  content: "";
  background-image: url("../images/svg/options-house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;
}

.burger-icon {
  content: "";
  background-image: url("../images/svg/options-burger.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position: center 81px;
}

.present-icon {
  content: "";
  background-image: url("../images/svg/options-present.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
  background-position: center 81px;
}

/*HOTEL SEARCH SECTION styles*/

.hotel-search {
  padding: 96px 0 102px;
  text-align: center;
}

.hotel-search-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.hotel-search-description {
  margin-bottom: 62px;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  padding: 13px 50px;
  margin: 0 auto;
}

/*SUBSCRIPTION SECTION styles*/

.subscription {
  background-image: url("../images/subscribtion-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 0 104px 0;
  color: #ffffff;
}

.subscription-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subscription-description {
  margin-bottom: 56px;
}

.subscription-form {
  display: flex;
  width: 684px;
  height: 52px;
  margin: 0 auto;
}

.subscription-form-input {
  flex-grow: 1;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
  margin: 0;
}

.subscription-form-button {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  margin: 0;
}

.subscription-form-button:hover,
.subscription-form-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.subscription-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.subscription-form-button:disabled {
  background-color: #e5e5e5;
}

/*FOOTER styles*/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px 70px;
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.socials-icon {
  fill: #83b3d3;
}

.socials-icon:hover,
.socials-icon:focus {
  fill: #68a2ca;
  outline: none;
}

.socials-icon:active {
  opacity: 0.3;
}

.phone-numbers {
  width: 500px;
  text-align: center;
}

.phone-number {
  display: block;
  font-size: 40px;
  line-height: 45px;
  color: #000000;
  text-decoration: none;
}

.phone-number:hover,
.phone-number:focus {
  outline: none;
  color: #756157;
}

.phone-number:active {
  opacity: 0.3;
}

.html-academy-icon {
  fill: #000000;
}

.html-academy-link:hover,
.html-academy-link:focus,
.html-academy-icon:hover,
.html-academy-icon:focus {
  outline: none;
  fill: #756157;
}

.html-academy-link:active,
.html-academy-icon:active {
  opacity: 0.3;
}

/* MODAL WINDOW */

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 9;
}

.modal-closed {
  display: none;
}

.modal-window {
  position: relative;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 64px 70px;
  width: 717px;
  height: 576px;
  box-sizing: border-box;
}

.modal-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 64px 0;
}

.modal-button-close {
  position: absolute;
  top: 64px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  padding: 0;
}

.modal-button-close::before {
  position: absolute;
  content: "";
  background-image: url("../images/svg/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 14px;
  height: 14px;
}

.modal-button-close:hover {
  background-color: #E6E6E6;
}

.modal-button-close:focus,
.modal-button-close:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-button-close:active {
  background-color: #E6E6E6;
}

.modal-button-close:active::before {
  opacity: 0.3;
}

.modal-input {
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  height: 48px;
  width: 100%;
}

.modal-label {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  white-space: nowrap;
}

.modal-check-in-wrapper {
  position: relative;
  display: flex;
  column-gap: 24px;
  align-items: center;
  margin: 0 0 48px 0;
}

.modal-check-out-wrapper {
  position: relative;
  display: flex;
  column-gap: 18px;
  align-items: center;
  margin: 0 0 48px 0;
}

.check-in-input,
.check-out-input {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 0 12px 20px;
  box-sizing: border-box;
}

.modal-check-in-wrapper::before,
.modal-check-out-wrapper::before {
  position: absolute;
  content: "";
  top: 14px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../images/svg/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  z-index: 10;
}

.check-in-input-alert {
  position: absolute;
  top: 52px;
  left: 157px;
  color: #ff5757;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
}

.check-out-input-alert {
  position: absolute;
  top: 52px;
  left: 157px;
  color: #333333;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
}

.modal-children-counter,
.modal-adult-counter {
  display: flex;
  column-gap: 46px;
  align-items: center;
}

.modal-tooltip {
  position: relative;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/svg/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  vertical-align: middle;
  margin: 0 0 0 10px;
}

.modal-tooltip:hover,
.modal-tooltip:focus,
.modal-tooltip:focus-visible {
  outline: none;
}

.tooltip-window {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 41px;
  left: -114px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  white-space: wrap;
  text-align: left;
  background-color: #333333;
  border-radius: 10px;
  padding: 20px 17px 24px 21px;
  margin: 0;
  box-sizing: border-box;
}

.tooltip-window::before {
  position: absolute;
  top: -9px;
  left: 117px;
  content: "";
  background-image: url("../images/svg/tooltip-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-tooltip:hover > .tooltip-window,
.modal-tooltip:focus > .tooltip-window,
.modal-tooltip:focus-visible > .tooltip-window {
  display: block;
  height: auto;
  width: 256px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.modal-tooltip:hover > .tooltip-window::before,
.modal-tooltip:focus > .tooltip-window::before,
.modal-tooltip:focus-visible > .tooltip-window::before {
  height: 9px;
  width: 19px;
}


.modal-form-counters {
  display: flex;
  column-gap: 88px;
}

.modal-number-input {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  width: 31px;
  height: 48px;
  border-radius: 0;
  text-align: center;
  padding: 0;
}

.modal-counter {
  display: flex;
  justify-content: space-around;
}

.increase-button,
.decrease-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f2f2f2;
  width: 40px;
  height: 48px;
  fill: rgba(117, 97, 87, 0.3);
}

.increase-button {
  border-radius: 0 4px 4px 0;
}

.decrease-button {
  border-radius: 4px 0 0 4px;
}

.increase-button:focus,
.increase-button:focus-visible,
.decrease-button:focus,
.decrease-button:focus-visible {
  outline: none;
}

.increase-button .plus-icon,
.decrease-button .minus-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.increase-button:hover .plus-icon,
.decrease-button:hover .minus-icon {
  fill: #000000;
}

.increase-button:focus .plus-icon,
.decrease-button:focus .minus-icon,
.increase-button:focus-visible .plus-icon,
.decrease-button:focus-visible .minus-icon {
  fill: #000000;
  outline: 3px solid #82B3D3;
  padding: 9px 3px;
  border-radius: 4px;
}

.increase-button:active .plus-icon,
.decrease-button:active .minus-icon {
  fill: #000000;
  opacity: 0.2;
}

.modal-submit-button {
  border: none;
  border-radius: 10px;
  background-color: #82b3d3;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 18px 0;
  margin: 48px 0 0 0;
  width: 100%;
  box-sizing: border-box;
}

.modal-submit-button:hover,
.modal-submit-button:focus,
.modal-submit-button:focus-visible {
  background-color: #68A2CA;
}

.modal-submit-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
